.card{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 900px;
    background-color: #B0EDBD;
    border-radius: 20px;
    margin-top: 20px;
}
.tituloTest{
    font-size: 30px;
    font-weight: bold;
    color: #00712D;
    margin-bottom: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.pegunta{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: #C8FED4;
    border-radius: 20px;
}
.conteudoPergunta{
    color: #00712D;
    justify-content: center;
    background-color: #C8FED4;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
}
.respostas{
    color: #00712D;
}
.alternativa{
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #00712D;
    background-color: #B0EDBD;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
    margin-top: 20px;
}
.alternativa:checked{
    border: 6px solid #00712D;
    
}
